<mat-form-field *ngIf="formComponent.after18" class="mrgBtm20">
  <mat-label>Семейное положение</mat-label>
  <mat-select [formControl]="married" required>
    <mat-option value="Женат" *ngIf="formComponent.formGroup.get('gender')?.value=='М'">Женат</mat-option>
    <mat-option value="Замужем" *ngIf="formComponent.formGroup.get('gender')?.value=='Ж'">Замужем</mat-option>
    <mat-option value="В разводе">В разводе</mat-option>
    <mat-option value="Нет">Нет</mat-option>
  </mat-select>
  <mat-error *ngIf="married.invalid&&formDateService.validate">
    Выберите ваше семейное положение
  </mat-error>
</mat-form-field>
