<!--<mat-form-field *ngIf="after18">-->
<!--  <mat-label>Семейное положение</mat-label>-->
<!--  <mat-select formControlName="married" required>-->
<!--    <mat-option value="Женат" *ngIf="formGroup.get('gender')?.value=='М'">Женат</mat-option>-->
<!--    <mat-option value="Замужем" *ngIf="formGroup.get('gender')?.value=='Ж'">Замужем</mat-option>-->
<!--    <mat-option value="В разводе">В разводе</mat-option>-->
<!--    <mat-option value="Нет">Нет</mat-option>-->
<!--  </mat-select>-->
<!--  <mat-error *ngIf="formGroup.controls['married'].invalid&&validate">-->
<!--    Выберите ваше семейное положение-->
<!--  </mat-error>-->
<!--</mat-form-field>-->
