<div>
  <form [formGroup]="formGroup" class="formWrapper dFlexColumn" (ngSubmit)="save()">

    <app-form-input formControlName="fio"></app-form-input>
    <app-form-gender formControlName="gender"></app-form-gender>
    <app-form-birthday formControlName="birthday"></app-form-birthday>
    <app-form-family-status formControlName="married"></app-form-family-status>
    <app-form-childrens formControlName="childrens"></app-form-childrens>
    <app-form-email formControlName="email"></app-form-email>
    <app-form-comment formControlName="comment"></app-form-comment>
    <button mat-button type="submit" [disabled]="buttonDisables">Сохранить</button>
  </form>
</div>
